[Unit]
Description=Airflow Daemon

After=network.target postgresql.service airflow-scheduler.service
Wants=postgresql.service

[Service]
WorkingDirectory=/airflow

EnvironmentFile=/etc/default/airflow
User=airflow-user
Group=airflow-user

ExecStart=/bin/bash -c '/home/airflow-user/.local/bin/uv run airflow api-server'

Restart=on-failure
RestartSec=5s
ProtectProc=invisible

[Install]
WantedBy=multi-user.target