[Unit]
Description=Spark Master
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/spark/sbin/start-master.sh

[Service]
Type=forking
WorkingDirectory=/home/spark-user

User=spark-user
Group=spark-user
ProtectProc=invisible

ExecStart=/spark/sbin/start-master.sh -h spark-driver-ip -p 7077
Restart=on-failure
RestartSec=10s

TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target